@charset "UTF-8";
html {
    position: relative;
    min-height: 100%;
}
    body {
    font-size: 100%;
    margin: 0 0 0;
    background-color: #000000;
}

header {
    margin-top: 0;
    padding: 0em 0em 20em 0em;
    text-align: center;
    background-color: #ffffff
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:focus, a:hover {
    color: #ffffff;
    background-color: #000000;
}

a:active {
    color: #ffffff;
    background-color: #000000;
}

h1 {
    font-size: 40px;
    color: #000000;
    font-family: 'Aboreto';
    font-size: 40px;
    padding: 0em 0em 0.5em 0em;
}

h2, h3 {
    font-size: 40px;
    font-family: 'Aboreto';
}
h4, h5 {
    font-family: 'Abel';
    font-size: 16px;
    color: #000000;
    text-align: center
}
dt {
    font-weight: bold;
}

strong {
    font-style: italic;
}

nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    margin-left: 0px;
}

    nav li {
        display: inline-block;
        text-align: center;
    }

ul {
    margin: 100;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    min-height: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Aboreto';
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li + li:before {
    content: "|";
    padding: 0 2em;
}
footer {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    font: bold 1.5em "Marko One"
    font-size: 12px
}